{% extends "home/home_base.html" %}

{% block home_content %}
    <div class="flex justify-center items-center min-h-screen px-4">
    <div class="max-w-2xl text-center p-6 rounded-md shadow-lg border-1 border-dashed border-gray-500">
        <h4 class="text-2xl font-semibold text-gray-300 mb-4">
        Hello World from my work machine!
        </h4>
        <p class="text-left indent-6 text-gray-400">
        This small project is intended to verify whether I can set up a development environment on my work computer. Additionally, if I manage to develop it further, it could serve as a useful template for future projects.
        </p>
    </div>
    </div>
{% endblock home_content %}