<header class="sticky top-0 z-50 shadow border-b-1 border-dashed border-gray-500">
  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <ul class="flex space-x-6">
            <li>
              <a href="{% url 'home:home' %}" class="text-white hover:text-gray-300 text-sm font-medium">
                Home
              </a>
            </li>
            <li>
              <a href="#" class="text-white hover:text-gray-300 text-sm font-medium">
                Link
              </a>
            </li>
            <li>
              <a href="#" class="text-white hover:text-gray-300 text-sm font-medium">
                Link
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>